/*!
 * (c) International Code Council
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

emphasis {
    &[type='bold'] {
        font-weight: bold;
    }

    &[type='italic'] {
        font-style: italic;
    }

    &[type='bold-italic'] {
        font-weight: bold;
        font-style: italic;
    }

    &[type='underline'] {
        text-decoration: underline;
    }

    &[type='double-underline'] {
        text-decoration-line: underline;
        text-decoration-style: double;
    }

    &[type='small-caps'] {
        font-variant: small-caps;
    }

    &[type='monospace'] {
        font-family: monospace;
    }

    &[type='strikethrough'] {
        text-decoration: line-through;
    }

    &[type='overline'] {
        text-decoration: overline;
    }

    &[type='sans-serif'] {
        font-family: sans-serif;
    }

    &[type='roman'] {
        font-family: serif;
    }

    &[type='other-style'][role='suggest'] {
        color: #27ae60;
        text-decoration: underline;
        font-weight: 700;
    }

    &[type='other-style'][role='editor'] {
        background-color: #d3d3d3;
    }

    &[type='other-style'][role='no-list'] {
        background-color: #f1c40f;
    }

    &[type='other-style'][role='list-no-mark'] {
        background-color: #ffbfcd;
    }
}
